/*admin add item page*/
   
.form1
{
    font-family: cursive;
    padding: 8px;
    width:70%;
    margin-top: 30px;
    margin-left: 250px;
    margin-bottom: 40px
}

.form2
{
margin-top: 25px;
background-color:rgb(168, 221, 228);
padding:5px 20px 15px 20px;
border:1px solid rgb(106, 196, 248);
border-radius: 20px;

}

.form1 input[type=text]
{
width: 100%;
padding: 5px 10px 15px 15px;
border:1px solid #AA5A9E;
border-radius: 5px;
font-size: 20px;
}

.button1
{
background-color: rgb(177, 21, 21);
color: white;
padding: 12px;
margin: 10px 250px;
border: none;
border-radius: 3px;
cursor: pointer;
font-size: 20px;
}


.button1:hover
{
background-color: rgb(255, 143, 68);
}

*{
    box-sizing: border-box;
}


/*End of Admin Add Item Page*/